<div row class="container offset-md-4 ">

  <div class="form-group"  class="row "       >
  a:
   <input  [(ngModel)]="a" type="number" class="col-md-2 ">
  
  </div >
  <div class="form-group"  class="row">
  
  b:
  
  <input   [(ngModel)]="b" type="number" class="col-md-2" >
    
    </div >
    <div class="form-group"  class="row">
  
  c:
        
  <input   [(ngModel)]="c" type="number" class="col-md-2" >
          
    </div >
    <button (click)="sum1()" class="btn btn-dark col-md-2">Send value</button>
              
<router-outlet>

</router-outlet>
